/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 3.5rem;
  background-image: linear-gradient(
    #235123d2,
    #477847cd,
    #619361cd,
    #729672
  ); /*Is there a way to do this with just opacity perhaps?*/
}

body {
  background-color: #729672;
  /* Forest green and blue hues for the main color theme as these colors are often used in all movies and posters by studio ghibli  */
}
main {
  height: 85vh;
}
img {
  width: 100%;
}
/* utility / reuse styling */
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.centerCenter {
  align-items: center;
  justify-content: center;
}

.centerTxt {
  text-align: center;
}
.spaceDisplay {
  justify-content: space-around;
}

/* Navigation styling */
/* .navBar {
} */

.iconLink {
  height: 70px;
  width: 70px;
}

/*  */
.welcomeBannerImg {
  width: 4rem;
  margin-top: 3rem;
  transition: transform 0.2s ease-in-out;
}

.welcomeBannerImg:hover {
  transform: scale(1.07);
}

.welcomeTxt {
  row-gap: 2rem;
  margin: 2rem 3rem;
}

.searchBar {
  display: flex;
  opacity: 0.2;
  background-color: lightgrey;
  width: 50vw;
  height: 6rem;
  margin-left: 25%;
  border: 2px dotted grey;
  border-radius: 20px;
}

.wipTxt {
  margin-top: -1.8rem;
  animation-name: txtFloat;
  animation-duration: 3s;
  /* animation-delay: 1s; */
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes txtFloat {
  from {
    transform: translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Footer styling */
footer {
  height: 3rem;
  background-image: linear-gradient(#729672, #619361cd, #477847cd, #235123d2);
}
