/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 3.5rem;
  background-image: linear-gradient(
    #235123d2,
    #477847cd,
    #619361cd,
    #729672
  ); /*Is there a way to do this with just opacity perhaps?*/
}

body {
  background-color: #729672;
  /* Forest green and blue hues for the main color theme as these colors are often used in all movies and posters by studio ghibli  */
}
main {
  height: 85vh;
}
img {
  width: 100%;
}
/* utility / reuse styling */
.flexRow {
  display: flex;
  flex-direction: row;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.centerCenter {
  align-items: center;
  justify-content: center;
}

.centerTxt {
  text-align: center;
}
.spaceDisplay {
  justify-content: space-around;
}

/* Navigation styling */
/* .navBar {
} */

.iconLink {
  height: 70px;
  width: 70px;
  margin-top: 3rem;
}

/* styling effect on the icon images */
.welcomeBannerImg {
  width: 4rem;
  transition: transform 0.15s ease-in-out;
}
.iconTxtAni {
  opacity: 0;
  width: 7rem;
  margin-left: -1.5rem;
  font-size: smaller;
  transition: opacity 0.5s ease;
}

.floatingAni:hover .iconTxtAni {
  opacity: 1;
}
.welcomeBannerImg:hover {
  transform: scale(1.1);
  cursor: pointers;
}
/* styling to animate the castle as if it's floating*/
.floatingAni {
  animation-name: howlsCastle;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes howlsCastle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0);
  }
}
.welcomeTxt {
  row-gap: 2rem;
  margin: 2rem 3rem;
}

.searchBar {
  display: flex;
  opacity: 0.2;
  background-color: lightgrey;
  width: 50vw;
  height: 6rem;
  margin-left: 25%;
  border: 2px dotted grey;
  border-radius: 20px;
}

.wipTxt {
  margin-top: -1.8rem;
  animation-name: txtFloat;
  animation-duration: 3.5s;
  /* animation-delay: 1s; */
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}
@keyframes txtFloat {
  from {
    transform: translateY(4px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ading animation to second icon; a slow wiggle/waver */
.waverAni:hover .iconTxtAni {
  opacity: 1;
}
.waverAni {
  animation-name: weavingFox;
  animation-duration: 5s;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes weavingFox {
  /* did this to play around with/explore this type of animtion, will clean it up to be more like the floathing castle at some point */
  0% {
    transform: translateY(0) translateX(0);
  }
  20% {
    transform: translateY(-3px) translateX(5px);
  }
  40% {
    transform: translateY(-6px) translateX(5px);
  }
  60% {
    transform: translateY(-3px) translateX(-5px);
  }
  80% {
    transform: translateY(-6px) translateX(-5px);
  }
  100% {
    transform: translateY(0px) translateX(0px);
  }
  /* Fix this to make it smooth and floating as if it's tracing the infinity symbol.*/
}

/* section 2 styling */
.breakCloud {
  margin-top: 2rem;
  width: 150px;
  animation-name: cloudSway;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes cloudSway {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* buttons styling */
.btnsContainer {
  margin: 3rem 0;
  width: 400px;
  justify-content: space-around;
}
.randoBtn {
  width: 9rem;
  height: 2rem;
  background-color: #e6ffff;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.randoBtn:hover {
  transform: scale(1.1);
  background-color: #c2fbfb;
  box-shadow: 4px 4px 6px #5c795c;
}

/* Footer styling */
footer {
  height: 3rem;
  margin-top: 3rem;
  background-image: linear-gradient(#729672, #619361cd, #477847cd, #235123d2);
}
